/derived
/*.diff
/*.log
*.swp
*~
*.suo
*.sdf
*.opensdf
core.*
core
.cproject
.project
*.VC.db
*.VC.VC.opendb
.vscode/
__pycache__/
/.vs
/build/3rdparty/glew.vcxproj.user
/build/msvc/.vs/openmsx/v16
/build/msvc/openmsx.vcxproj.user
